<!-- affiche le nombre d'étoile -->
{%if nb_star == 0%}
    <label class="h2 text-warning">☆</label>
    <label class="h2 text-warning">☆</label>
    <label class="h2 text-warning">☆</label>
    <label class="h2 text-warning">☆</label>
    <label class="h2 text-warning">☆</label>
{%elif nb_star == 1%}
    <label class="h2 text-warning">&#9733;</label> 
    <label class="h2 text-warning">☆</label>
    <label class="h2 text-warning">☆</label>
    <label class="h2 text-warning">☆</label>
    <label class="h2 text-warning">☆</label>
{%elif nb_star == 2%}
    <label class="h2 text-warning">&#9733;</label> 
    <label class="h2 text-warning">&#9733;</label>
    <label class="h2 text-warning">☆</label>
    <label class="h2 text-warning">☆</label>
    <label class="h2 text-warning">☆</label>
{%elif nb_star == 3%}
    <label class="h2 text-warning">&#9733;</label> 
    <label class="h2 text-warning">&#9733;</label>
    <label class="h2 text-warning">&#9733;</label>
    <label class="h2 text-warning">☆</label>
    <label class="h2 text-warning">☆</label>
{%elif nb_star == 4%}
    <label class="h2 text-warning">&#9733;</label> 
    <label class="h2 text-warning">&#9733;</label>
    <label class="h2 text-warning">&#9733;</label>
    <label class="h2 text-warning">&#9733;</label>
    <label class="h2 text-warning">☆</label>
{%elif nb_star == 5%}
    <label class="h2 text-warning">&#9733;</label> 
    <label class="h2 text-warning">&#9733;</label>
    <label class="h2 text-warning">&#9733;</label>
    <label class="h2 text-warning">&#9733;</label>
    <label class="h2 text-warning">&#9733;</label>
{%endif%}
